body {
    background:#000; 
    color:#eee; 
    font-family: Arial, Helvetica, sans-serif;
}

.panels {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-panel {
    width: 50%;
    float: left;
}

.side-panel {
    width: 28%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: #11111188;
    fill-opacity: 0.5;
    float: right;
}  